body
{
	margin: 0px;
}

div.emptyLevelBG
{
	height: 45px;
	background-color: #F5F5F5;
	border: 1px solid #F5F5F5;
	padding: 2px;
}

div.emptyLevelSize
{
	width: 345px;
}

div.levelBG
{
	height: 45px;
	background-color: #EBEBEB;
	border: 1px solid #979797;
	padding: 2px;
}

td.levelName, td.levelDescription
{
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 10px 4px 10px;
}

td.levelDescription
{
	color: #4B4B4B;
}

div.levelSizeRestrictor
{
	width: 300px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

td.levelColumnSeparator
{
	width: 15px;
}

tr.levelRowSeparator
{
	height: 15px;
}

a.levelLink
{
	text-decoration: none;
	color: inherit;
}
